doctype html
html
  head
    title brutalist.css
    meta(name="description" content="brutalist.css is for those who like to introduce a little bit of Trump")
    meta(name="author" content="Pierre Reimertz")
    meta(name="keywords" content="brutalist css")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:creator', content='@reimertz')
    meta(name='twitter:site', content='@reimertz')
    meta(name='twitter:title', content='brutalist.css')
    meta(name='twitter:description', content='brutalist.css is for those who like to introduce a little bit of Trump. Made by @reimertz')
    meta(name='twitter:image', content='https://raw.githubusercontent.com/reimertz/brutalistcss/master/app/logo.png')
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/tomorrow.min.css")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='/dist/latest/css/brutalist.latest.css')
    link(rel='stylesheet', type='text/css', href='styles.css')
  body
    center
      h1 brutalist.css
      h3 if you want to turn any homepage into a brutalist homepage.
      p
      p
        input(value="npm install brutalist")
      p
        a(href='//github.com/reimertz/brutalist.css') github page
        span &nbsp;
        a(href='//twitter.com/reimertz') made by @reimertz

    h2 Usage
    textarea(rows="20" style="width:100%;").
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <h5>Header 5</h5>
      <p>
        <bold>bold text</bold>
      </p>
      <p><i>italic text</i></p>
      <p>A paragraph with a lot of text.</p>
      <p>
        <left>left text</left>
        <center>centered text</center>
        <right>right text</right>
      </p>
      <p><span>a span &nbsp;</span><span class="red-bg">a span with red background</span><span class="red"> &nbsp;a span with red color</span></p>
      <form>
        <fieldset>
          <legend>this is a form</legend>
          <p>
            <input value="input with a value">
            <input placeholder="input with a placeholder">
          </p>
          <p>
            <label for="select">select</label>
            <select name="select">
              <option value="brutalist">brutalist</option>
              <option value="bootstrap">bootstrap</option>
            </select>
          </p>
          <p>
            <label for="checkbox">checkbox</label>
            <input type="checkbox" name="checkbox" value="brutalist rocks">
          </p>
          <p>
            <label for="radiobuttons">this is awesome</label>
            <input type="radio" name="vehicle" value="Bike">
            <label for="radiobuttons">this sucks</label>
            <input type="radio" name="vehicle" value="Bike">
          </p>
          <p>
            <button>This is a button</button>
          </p>
        </fieldset>
      </form>
    h1 Header 1
    h2 Header 2
    h3 Header 3
    h4 Header 4
    h5 Header 5
    p
      bold bold text
    p
      i italic text
    p A paragraph with a lot of text.
    p
      left left text
      center centered text
      right right text
    p
      span a span &nbsp;
      span.red-bg a span with red background
      span.red  &nbsp;a span with red color

    form
      fieldset
        legend this is a form
        p
          input(value="input with a value")
          input(placeholder="input with a placeholder")
        p
          label(for="select") select
          select(name="select")
            option(value="brutalist") brutalist
            option(value="bootstrap") bootstrap
        p
          label(for="checkbox") checkbox
          input(type="checkbox" name="checkbox" value="brutalist rocks")

        p
          label(for="radiobuttons") this is awesome
          input(type="radio" name="vehicle" value="Bike")
          label(for="radiobuttons") this sucks
          input(type="radio" name="vehicle" value="Bike")
        p
          button This is a button
    script(src='index.js')
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75084440-1', 'auto');
      ga('send', 'pageview');
